<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 处理器映射器 -->
    <bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>
    <!-- 另一个处理器映射器 -->
    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <props>
                <prop key="/abc.action">StudentController</prop>
                <prop key="/aaa.action">StudentController</prop>
            </props>
        </property>
    </bean>
    <!-- 处理器适配器:要求handler必须实现Controller接口 -->
    <bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"/>

    <!-- 另一个处理器适配器：要求handler必须实现HttpRequestHandler接口 -->
    <bean class="org.springframework.web.servlet.mvc.HttpRequestHandlerAdapter"/>

    <!-- 注解的方式配置处理器适配器和处理器映射器 -->
    <!-- <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"></bean>
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"></bean> -->
    <!-- 注解二合一 -->
    <mvc:annotation-driven>

    </mvc:annotation-driven>

    <!-- 视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"/>
    <!-- 配置handller -->
    <bean id="StudentController" name="/stulist.action" class="com.zhaoxuyan.controller.StudentController"/>

    <bean name="/reqlist.action" class="com.zhaoxuyan.controller.StudentRequestController"/>


    <bean class="com.zhaoxuyan.controller.StudentAnnotionController"/>
    <!-- 对于注解的Handler建议使用组件扫描-->
    <context:component-scan base-package="com.zhaoxuyan.controller"/>
</beans>
